title: Hybrid models and methods in systems medicine
description: >-
  5-6 July 2022, Institut Curie<br>
  Amphitheatre Constant Burg<br>
  12 rue Lhomond, Paris
baseurl: "" # the subpath of your site, e.g. /blog

# Build settings
theme: minima

sass:
  sass_dir: _sass
  style: compressed

exclude:
  - README.md
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
